RewriteEngine On
# Redirects to public folder
RewriteRule ^$ public/$1 [L]
# Redirects to public folder if url does not start with resources
RewriteRule ^(?!.*(resources/|resources))(.*)$ public/$2 [L]